<div class="is-card is-sticky-on-side space-y-2">
  <div class="mr-4 font-bold">
    <div class="mb-2">
      {{ partial "heroicons/outline/filter.svg" "is-icon is-1em" }}
      <span x-text="config.title"></span>
    </div>
    <template x-for="(category, key) in filters">
      <span class="m-0" :class="!categoriesVisibleInBar ? 'inline' : 'block'">
        <template x-if="categoriesVisibleInBar">
          <span x-text="key"></span>
        </template>
        <template x-for="(selected, name) in category">
          {{ partial "events/filter/check"
            (dict
            "clickHandler" "toggleSelection(key, name)"
            "isCheckedIf" "selected"
            "class" "text-sm"
            "text" "getTranslation(name)"
            "textIsJs" true
            )
          }}
        </template>
      </span>
    </template>
  </div>
</div>
