{
  "tabWidth": 4,
  "useTabs": false,
  "overrides": [
    {
      "files": ["*.html"],
      "options": {
        "parser": "go-template",
        "tabWidth": 2,
        "bracketSameLine": true,
        "printWidth": 121
      }
    }
  ],
  "goTemplateBracketSpacing": true
}