<div
    :data-dance-event-id="event.id"
    :id="'dance-event-id-' + event.id"
    data-role="dance-event"
    class="h-full flex flex-col text-sm is-card"
    x-data="{
        notepad: RMST_TS.notepad,
        openSection: null
    }"
    x-init="openSection = list.handleHashNavivation(event.id, $refs.element)"
    x-ref="element"
>
    <h1 class="text-lg bold font-bold">
        <span x-text="event.summary"></span>
    </h1>
    <div class="my-2">
        {{ partial "events/dance-event/category.html" . }}
        {{ partial "events/dance-event/city.html" . }}
    </div>
    {{ partial "events/dance-event/time-location.html" . }}
    {{ partial "events/dance-event/ctas.html" . }}
    {{ partial "events/dance-event/details.html" . }}
</div>