<div class="col-span-8 relative min-h-screen space-y-4">
    <template
        x-for="id in $store.favoriteStore.danceEventIdsInCollection"
        :key="'fav' + id"
    >
        <div
            x-data="{danceEvent: false}"
            x-init="danceEvent = await getEventFromCollection(id)"
        >
            <template x-if="danceEvent === false">
                {{ partial "events/dance-event-preloader.html" }}
            </template>

            <template x-if="danceEvent !== false">
                {{ partial "events/dance-event.html" . }}
            </template>
        </div>
    </template>
</div>
