
<div class="col-span-8 relative">
    {{ partial "events/list-loading-overlay.html" . }}
    <template x-if="list.dates.length === 0 && filters.onlyFavorites === false && list.showLoader === false">
        <div class="is-card">
            <h3>
                Sorry!
            </h3>
            <span>
                Leider haben wir für diese Suche nichts gefunden
            </span>
        </div>
    </template>

    <template x-for="date in list.dates">
        {{ partial "events/in-date.html" . }}
    </template>
    <template x-if="list.initialized">
        <template x-if="list.showLoader">
            <div
                x-intersect:enter="list.loadMore()"
                class=""
            >
                <div class="flex items-center justify-center space-x-2 animate-bounce">
                    <div class="w-4 h-4 bg-red-400 rounded-full"></div>
                    <div class="w-4 h-4 bg-red-400 rounded-full"></div>
                    <div class="w-4 h-4 bg-red-400 rounded-full"></div>
                </div>
            </div>
        </template>
        <template x-if="!list.showLoader">
            <div>
                Mehr hamma nich!
            </div>
        </template>
    </template>
</div>
