<div
    data-role="event-list"
    id="dance-event-list"
    class="sm:grid-cols-12 gap-4 sm:grid flex flex-col"
    x-data="RMST_TS.danceEventPageFacade()"
    x-init="function() {
        list.init();
        filters.init();
        $watch('filters.searchQuery', (val, old) => handleFilterChange(val, old));
    }"
>

    <div data-role="event-list-filter-bar" class="sm:col-span-4 sm:order-2">
    {{ partial "events/filter-bar.html" . }}
    </div>

    <div class="col-span-8 sm:order-1">

    <div
        class="col-span-8 relative min-h-screen"
    >
        {{ partial "events/list-loading-overlay.html" . }}
        <template x-if="list.dates.length === 0">
            <div class="is-card">
                <h3>
                    Sorry!
                </h3>
                <span>
                    Leider haben wir für diese Suche nichts gefunden
                </span>
            </div>
        </template>

        <template x-for="date in list.dates">
            {{ partial "events/list.html" . }}
        </template>
        <template x-if="list.initialized">
            <template x-if="list.showLoader && filters.onlyFavorites === false">
                <div
                    x-intersect:enter="list.loadMore()"
                    class=""
                >
                    <div class="flex items-center justify-center space-x-2 animate-bounce">
                        <div class="w-4 h-4 bg-red-400 rounded-full"></div>
                        <div class="w-4 h-4 bg-red-400 rounded-full"></div>
                        <div class="w-4 h-4 bg-red-400 rounded-full"></div>
                    </div>
                </div>
            </template>
            <template x-if="!list.showLoader">
                <div>
                    Mehr hamma nich!
                </div>
            </template>
        </template>
        </div>
    </div>
</div>
