<div
    class="is-card is-sticky-on-side space-y-2"
    x-data="{}"
    x-intersect:enter="$store.mobileNavigationStore.unregisterBackToTop()"
    x-intersect:leave="$store.mobileNavigationStore.registerBackToTop(filters.getScrollToTopHandler())"
>
    <div class="flex w-full border-b-2 border-gray-200 py-2 text-lg">
        <label
            for="fav-toggle"
            class="flex items-center cursor-pointer"
            @click.prevent="switchVisiblePage()"
        >
            <!-- toggle -->
            <div class="relative">
            <!-- input -->
            <input type="checkbox" id="fav-toggle" class="sr-only">
            <!-- line -->
            <div
                class="block bg-gray-200 w-10 h-6 rounded-full"
                :class="visiblePage === 'favorites' ? 'bg-blue-900' : ''"
            ></div>
            <!-- dot -->
            <div
                class="dot absolute left-1 top-1 bg-white w-4 h-4 rounded-full transition border border-white"
                x-data=""
                :class="visiblePage === 'favorites' ? 'translate-x-full' : ''"
            ></div>
            </div>
            <!-- label -->
            <div class="ml-3">
                {{ T
                    "page-dance-fav-show-only"
                    (dict "icon" (partial "heroicons/solid/heart.svg" "is-icon is-1.5em h-8 w-8 text-red-500"))
                    | safeHTML
                }}
            </div>
        </label>
    </div>

    <div
        x-transition
        x-show="visiblePage === 'events'">
        {{ partial "events/filterbar" }}
    </div>

    <div
        x-transition
        x-show="visiblePage === 'favorites'"
    >
        {{ partial "events/favorites-bar" }}
    </div>
</div>