{{ $iconClasses := "is-icon is-1.5em text-red-500" }}

<div id="{{ .context.name | urlize }}" class="flex flex-col gap-4 relative opac">
  <header class="text-center space-y-4">
    <a href="#{{ .context.name | urlize }}" class="no-underline hover:underline">
    <h4 class="text-4xl text-center font-thin">
      {{ .context.name }}
    </h4>
    </a>
    <div>
      <span class="is-badge bg-gray-200">
        {{ if isset .context "category_alt" }}
          {{ .context.category_alt }}
        {{ else }}
          {{ T (delimit (slice .i18nPrefix .context.category) "-" ) }}
        {{ end }}
      </span>
    </div>
  </header>
  {{ if isset .context.desc .lang }}
    <div class="p-2 border-t-2 border-b-2 border-dashed border-gray-200 -mx-4 px-4">
      <!-- <b>{{ i18n "scene-description" }}</b><br /> -->
      {{ markdownify (index .context.desc .lang) }}
    </div>
  {{ end }}
  <div class="class mt-auto flex flex-col gap-2 xs:grid xs:grid-cols-2 text-base contact">
    {{ $colSpan:= (cond (isset .context "address") "" "col-span-2 grid sm:grid-cols-2") }}
    <div class="{{ $colSpan }} ">
      {{ range $index, $val := .context.contact }}
        <div class="{{ $index }}">
          {{ $partialPath := printf "contact/%s.html" $index }}
          {{ if templates.Exists ( printf "partials/%s" $partialPath ) }}
            {{ partial $partialPath . }}
          {{ else }}
            {{ $val }}
          {{ end }}
        </div>
      {{ end }}
      {{ range $index, $val := .context.socialmedia }}
        <div class="{{ $index }} inline-block mr-3 last:mr-0 xs:block xs:mr-0">
          {{ $iconPath := printf "simpleicons.org/%s.svg" $index }}
          {{ if templates.Exists ( printf "partials/%s" $iconPath ) }}
            {{ partial ( printf "%s" $iconPath ) "inline-block w-4 h-4" }}
          {{ end }}
          <a href="{{ $val }}" target="_blank">
            {{ i18n (printf "learn-%s" $index) }}
          </a>
        </div>
      {{ end }}
    </div>
  </div>
</div>
