<div class="flex flex-col">
  <header class="space-y-4 mb-6 mt-4">
    {{ if (isset .context.contact "web") }}
      <a class="is-thin-decoration" target="_blank" href="{{ .context.contact.web | safeURL }}">
        <h1 class="text-4xl text-center font-thin">
          {{ .context.name }}
        </h1>
      </a>
    {{ else }}
      <h1 class="text-4xl text-center font-thin">
        {{ .context.name }}
      </h1>
    {{ end }}
    <div class="mb-4 text-center">
      <span class="is-badge bg-gray-200">
        {{ if isset .context.display.category .lang }}
          {{ index .context.display.category .lang }}
        {{ else }}
          {{ T (delimit (slice .i18nPrefix .context.category) "-" ) }}
        {{ end }}
      </span>
    </div>
    {{ if (isset .context.desc .lang) }}
      <div class="border-gray-300 text-center flex justify-center">
        <span class="prose prose-sm">
          {{ markdownify (index .context.desc .lang) }}
        </span>
      </div>
    {{ end }}
  </header>

  <div class="class mt-auto flex flex-col gap-2 xs:grid xs:grid-cols-2 text-base contact">
    <div>
      {{ range .context.address }}
        <span class="block">
          {{ . }}
        </span>
      {{ end }}
      {{ if isset .context "address" }}
        {{ partial "heroicons/solid/location-marker.svg" "is-icon is-1em" }}
        {{ $address := (delimit .context.address " ") }}
        <a
          x-data="{
            address: '{{ $address }}',
            mapsPrefix:'{{ site.Params.googleMapsQuery }}'
          }"
          x-bind:href="mapsPrefix + encodeURIComponent(address)"
          target="_blank">
          {{ T "cta-open-in-google-maps" }}
        </a>
      {{ end }}
    </div>
    {{ $colSpan:= (cond (isset .context "address") "" "col-span-2 grid sm:grid-cols-2") }}
    <div class="{{ $colSpan }} ">
      {{ range $index, $val := .context.contact }}
        <div class="{{ $index }}">
          {{ $partialPath := printf "contact/%s.html" $index }}
          {{ if templates.Exists ( printf "partials/%s" $partialPath ) }}
            {{ partial $partialPath . }}
          {{ else }}
            {{ $val }}
          {{ end }}
        </div>
      {{ end }}
      {{ range $index, $val := .context.socialmedia }}
        <div class="{{ $index }} inline-block mr-3 last:mr-0 xs:block xs:mr-0">
          {{ $iconPath := printf "simpleicons.org/%s.svg" $index }}
          {{ if templates.Exists ( printf "partials/%s" $iconPath ) }}
            {{ partial ( printf "%s" $iconPath ) "inline-block w-4 h-4" }}
          {{ end }}
          <a href="{{ $val }}" target="_blank">
            {{ i18n (printf "learn-%s" $index) }}
          </a>
        </div>
      {{ end }}
    </div>
  </div>
  {{ if .context.calendar }}
    <div class="mt-4 text-right">
      {{ $url := "/tanzen" }}
      {{ if eq .lang "en" }}
        {{ $url = "/dance" }}
      {{ end }}
      <a href="{{ ref .pageContext $url }}?calendar[]={{ htmlUnescape .context.calendar }}" class="font-bold">
        {{ T "learn-open-classes" }}
        {{ partial "heroicons/solid/chevron-double-right.svg" "is-icon is-1em text-red-500" }}
      </a>
    </div>
  {{ end }}
</div>
