<div class="flex flex-col">
  <h3 class="text-4xl text-center font-thin my-4">
    {{ .context.name }}
  </h3>
  <div class="mb-8 text-center">
    <pre></pre>
    <span class="font-light text-sm bg-gray-500 text-white py-1 px-2 rounded">
      {{ T (delimit (slice .i18nPrefix .context.category) "-" ) }}
    </span>
  </div>
  <div class="class mt-auto grid grid-cols-12 text-sm contact">
    <div class="sm:col-span-6">
      {{ range .context.address }}
        <span class="block">
          {{ . }}
        </span>
      {{ end }}
      {{ if isset .context "address" }}
        {{ $addressQuery := urlquery .context.address }}
        <a
          href="{{ site.Params.googleMapsQuery }}?api=1&query={{ $addressQuery }}"
          target="_blank"
          x-data="{

          }"
        >
          {{ T "cta-open-in-google-maps" }}
        </a>
      {{ end }}
    </div>
    {{ $colSpan:= (cond (isset .context "address") "sm:col-span-6" "col-span-12 grid sm:grid-cols-2") }}
    <div class="{{ $colSpan }}">
      {{ range $index, $val := .context.contact }}
        <div class="{{ $index }}">
          {{ $partialPath := printf "contact/%s.html" $index }}
          {{ if templates.Exists ( printf "partials/%s" $partialPath ) }}
            {{ partial $partialPath . }}
          {{ else }}
            {{ $val }}
          {{ end }}
        </div>
      {{ end }}
      {{ range $index, $val := .context.socialmedia }}
        <div class="{{ $index }}">
          {{ $partialPath := printf "simpleicons.org/%s.svg" $index }}
          {{ if templates.Exists ( printf "partials/%s" $partialPath ) }}
            {{ partial ( printf "%s" $partialPath ) "inline-block w-4 h-4" }}
          {{ end }}
          <a href="{{ $val }}" target="_blank">
            {{ $index }}
          </a>
        </div>
      {{ end }}
    </div>
  </div>
</div>
