<div class="text-right mt-auto flex flex-row justify-end gap-2">
    <a href="#" class="is-button" @click.prevent="notepad.toggle(event)">
        <template x-if="!notepad.isSaved(event)">
            <span>
                {{ partial "heroicons/outline/heart.svg" "is-icon is-base"}}
                {{ i18n "event-is-not-saved" }}
            </span>
        </template>
        <template x-if="notepad.isSaved(event)">
            <span>
                {{ partial "heroicons/solid/heart.svg" "is-icon is-base text-red-500"}}
                {{ i18n "event-is-saved" }}
            </span>
        </template>
    </a>
    <a
        href="#"
        class="is-button"
        :class="openSection === 'share' ? 'active' : ''"
        @click.prevent="openSection = handleOpenEventSection(openSection, 'share')"
    >
        {{ partial "heroicons/outline/share.svg" "is-icon is-base"}}
        {{ i18n "event-share" }}
    </a>
    <a
        href="#"
        class="is-button no-underline"
        :class="openSection === 'more' ? 'active' : ''"
        @click.prevent="openSection = handleOpenEventSection(openSection, 'more')"
    >
        {{ i18n "event-more-information" }}
        {{ partial "heroicons/outline/chevron-down.svg" "is-icon is-1em" }}
    </a>
</div>