<div class="text-right mt-auto flex flex-row justify-end gap-2 whitespace-nowrap">
  <!-- Google Calender -->
  <a class="is-button text-center" target="_blank" :href="danceEvent.foreignUrl">
    {{ partial "simpleicons.org/googlecalendar.svg" "is-icon is-base" }}
    <span class="hidden sm:inline">{{ i18n "event-download-web" }}</span>
  </a>
  <!-- favorites -->
  <a href="#" class="is-button text-center" @click.prevent="$store.favoriteStore.toggle(danceEvent)">
    <template x-if="!$store.favoriteStore.isSaved(danceEvent)">
      <span>
        {{ partial "heroicons/outline/heart.svg" "is-icon is-base" }}
        <span class="hidden sm:inline"
          >{{ i18n "event-is-not-saved" }}
        </span>
      </span>
    </template>
    <template x-if="$store.favoriteStore.isSaved(danceEvent)">
      <span>
        {{ partial "heroicons/solid/heart.svg" "is-icon is-base text-red-500" }}
        <span class="hidden sm:inline"> {{ i18n "event-is-saved" }}</span>
      </span>
    </template>
  </a>
  <!-- share -->
  <a href="#" class="is-button text-center" :class="openSection === 'share' ? 'active' : ''" @click.prevent="openSection = handleOpenEventSection(openSection, 'share')">
    {{ partial "heroicons/outline/share.svg" "is-icon is-base" }}
    {{ i18n "event-share" }}
  </a>
  <!-- more infos -->
  <a href="#" class="is-button no-underline text-center" :class="openSection === 'more' ? 'active' : ''" @click.prevent="openSection = handleOpenEventSection(openSection, 'more')">
    {{ i18n "event-more-information" }}
    {{ partial "heroicons/outline/chevron-down.svg" "is-icon is-1em" }}
  </a>
</div>
