<div class="flex flex-row gap-2">
    <div>
        {{ partial "heroicons/outline/calendar.svg" "is-icon is-base"}}
        <span x-text="danceEvent.startDateLocalized"></span>
    </div>
    <div>
        {{ partial "heroicons/outline/clock.svg" "is-icon is-base"}}
        <span x-text="danceEvent.startTimeLocalized"></span>
        &ndash;
        <template x-if="danceEvent.isLong">
            <span x-text="danceEvent.endDateLocalized"></span>
        </template>
        <span x-text="danceEvent.endTimeLocalized"></span>
        Uhr
    </div>
</div>
