<h4 class="font-bold text-lg">{{ i18n "event-headline-location" }}</h4>
<template x-if="danceEvent.location">
    <div>
        <div x-html="danceEvent.locationHtml"></div>
        <a
            class="underline"
            target="_blank"
            :href="danceEvent.mapsLink"
        >
            {{ partial "heroicons/solid/location-marker.svg" "is-icon is-1em" }}
            {{ i18n "event-directions"}}
        </a>
    </div>
</template>
<template x-if="!danceEvent.location">
    <div class="italic">
        <p>&ndash; {{ i18n "event-location-not-set" }} &ndash;</p>
    </div>
</template>
