<div>
    <h4 class="font-bold text-lg">
        {{ T "event-share-links-headline" }}
    </h4>
    <div class="text-base flex-col flex" x-init="console.log(event, 'event')">
        <a
            :href="danceEvent.shareLinks.mail"
            target="_blank"
            class="mb-2"
        >
            {{ partial "heroicons/solid/mail.svg" "is-icon is-1em"}}
            {{ i18n "share-link-mail-cta" }}
        </a>
        <a
            :href="danceEvent.shareLinks.whatsapp"
            target="_blank"
            class="mb-2"
        >
            {{ partial "simpleicons.org/whatsapp.svg" "is-icon is-1em"}}
            {{ i18n "share-link-whatsapp-cta" }}
        </a>
        <a
            :href="danceEvent.shareLinks.telegram"
            target="_blank"
            class=""
        >
            {{ partial "simpleicons.org/telegram.svg" "is-icon is-1em"}}
            {{ i18n "share-link-telegram-cta" }}
        </a>
        <div class="mt-2">
            <a href="#" @click.prevent="danceEvent.copyToClipboard()">
                {{ partial "heroicons/solid/clipboard-copy.svg" "is-icon is-1em"}}
                {{ T "event-share-copy-headline" }}
            </a>
            <form class="flex flex-row gap-2 pr-2 relative">
                <input
                    type="text"
                    class="inline-block flex-shrink text-sm overflow-x-hidden px-2 py-0.5 bg-gray-100 border-dashed"
                    :name="'copy-' + danceEvent.id"
                    :value="danceEvent.shareUrl"
                    readonly
                />
                <a class="is-button block text-sm" href="#" @click.prevent="danceEvent.copyToClipboard()">
                    <template x-if="!danceEvent.wasCopied">
                        {{ partial "heroicons/solid/clipboard-copy.svg" "h-5 w-5"}}
                    </template>
                    <template x-if="danceEvent.wasCopied">
                        {{ partial "heroicons/solid/check.svg" "h-5 w-5"}}
                    </template>
                </a>
            </form>
        </div>
    </div>
</div>
