<!-- baseof -->
<!DOCTYPE html>
<html>
  {{- partial "header.html" . -}}
  <body :class="$store.mobileNavigationStore.open ? 'overflow-hidden' : ''" x-data="">
    {{ if not (eq .Kind "home") }}
      {{- partial "page/page-header.html" . -}}
    {{ end }}

    {{ if not (eq .Kind "home") }}
      <section id="page-body">
        <div class="container is-default flex-row">
          {{- partial "nav/sidebar.html" . -}}
          <div id="page-content">
            {{- block "main" . }}{{- end }}
          </div>
        </div>
      </section>
    {{ else }}
      <section id="home-content">
        {{- block "main" . }}{{- end }}
      </section>
    {{ end }}

    {{ partial "nav/phone" . }}
    {{ partial "nav/mobile-trigger.html" . }}
    {{ partial "nav/to-top.html" }}

    {{- partial "footer.html" . -}}
  </body>
</html>
