{{ define "main" }}

<section id="home-hero" class="bg-gray-700 py-10 is-padded">
  <div class="container is-default text-gray-50">

    <figure id="site-logo" class="mb-8 flex flex-row justify-center">
          <img src="{{ "/img/rmst-logo.svg" | relURL }}">
      </figure>

      <div class="my-16">
        <h2 class="text-2xl font-light">
          Deine nächsten Socials:
        </h2>
        {{ partial "events/preview-block" .}}
        <div class="text-right w-full">
        {{ with .Site.GetPage "tanzen" }}
          <a
          href="{{ .Permalink }}"
          class="is-button is-xl is-white">
              Alle Socials im Rhein Main Gebiet
              {{ partial "heroicons/solid/chevron-double-right.svg" "is-icon is-1em -top-1" }}
          </a>
        {{ end }}
        </div>
      </div>

  </div>
</section>

<section class="bg-gray-50 is-padded py-12">
  <div class="container is-default">
    <div class="prose prose-lg">
     {{ .Content }}
    </div>
  </div>
</section>


<section class="bg-gray-900  py-12">
  <div class="container is-default">

    <div class="text-center text-gray-50 mb-6">
        <h1 class="text-4xl font-light">{{ .Page.Title }}</h1>
        {{ if (isset .Params "subtitle") }}
            <h2 class="font-light text-2xl">{{ .Params.subtitle }}</h2>
        {{ end }}
    </div>

    <div class="flex flex-col sm:grid sm:grid-cols-2 lg:grid-cols-3  gap-4">
    {{ range .Site.Menus.main }}
      <div class="is-card flex flex-col">
        <div class="text-gray-900 uppercase">
          <div class="flex flex-row font-bold">
            {{ partial "heroicons/solid/hashtag.svg" "text-red-700 h-7 w-7 inline-block relative top-0.5"}}
            <h1 class="text-2xl">
              {{ .Title }}
            </h1>
          </div>
          {{ if (isset .Page.Params "subtitle") }}
            <div class="text-base">
              {{ .Page.Params.subtitle }}
            </div>
          {{ end}}
        </div>
        <div class="mt-auto">
          {{/*  {{ .Page.Params.teaser }}  */}}
          <div class="mt-4 text-right text-sm">
            <a href="{{ .URL }}" class="is-button highlighted">
              Mehr lesen
              {{ partial "heroicons/solid/chevron-double-right.svg" "is-icon is-1em" }}
            </a>
          </div>
        </div>
      </div>
    {{ end }}
    s</div>
  </div>
</section>


{{ end }}