{{define "main"}}
    {{- partial "page/main-content" . -}}

    {{.Scratch.Set "lang" .Lang}}
    {{$lang := newScratch}}
    {{$lang.Set "lang" .Lang}}

    <div id="scene-section" class="container is-default">
        <div class="alpine-component"
            x-data="RMST_TS.SceneList({{ $.Site.Data.scene | jsonify }})">
                <div class="container items">
                    {{ range $.Site.Data.scene.items }}
                        {{ partial "scene/item" . }}
                    {{ end }}
                </div>
        </div>
    </div>
{{end}}