{{ define "main" }}
    {{- partial "page/main-content" . -}}

    <div
        id="generic-filter-test"
        class="filterable"
        x-data="{
            bar: RMST_TS.filterBar({
                filterable: [
                    'area', 'category'
                ],
                identifier: 'name',
                title: 'Filter',
                trash: 'Zurücksetzen',
                showCategories: false,
                translationPrefix: '{{ .Page.Layout }}' + '-'
            })
        }"
    >

        {{ partial "filterbar/bar" . }}

        <div class="item-container">
            {{ partial "filterbar/sorry" }}

            {{ $lang := .Lang }}
            {{ range sort $.Site.Data.scene.items "name" "asc" }}
                {{ partial
                    "scene/item"
                    (dict
                        "context" .
                        "lang" $lang
                    )
                }}
            {{ end }}
        </div>

    </div>
{{ end }}
