{{ define "main" }}
    {{- partial "page/main-content" . -}}

    <!--
    <div x-data="RMST_TS.createPickster()">
        <div class="grid grid-cols-7 grid-rows-8 bg-gray-200 p-2 gap-1">
            <div class="col-span-1 bg-white" @click="calendarDates.back()">
                {{ partial "heroicons/solid/chevron-left.svg" "is-icon is-1em"}}
            </div>
            <div class="col-span-5 text-center bg-white">
                <span x-text="calendarDates.headers.headline"></span>
            </div>
            <div class="col-span-1 text-right bg-white" @click="calendarDates.forward()">
                {{ partial "heroicons/solid/chevron-right.svg" "is-icon is-1em"}}
            </div>
            <template x-for="day in calendarDates.headers.days">
                <div x-text="day" class="font-bold bg-white"></div>
            </template>
            <template x-for="Day in calendarDates.calendarCells">
                <div x-text="Day.dayInMonth" class="bg-white"></div>
            </template>
        </div>
    </div>
    -->


    <div
        data-role="event-list"
        id="dance-event-list"
        class="grid-cols-12 gap-4 grid"
        x-data="RMST_TS.danceEventPageFacade()"
        x-init="function() {
            list.init();
            filters.init();
            $watch('filters.searchQuery', (val, old) => handleFilterChange(val, old));
        }"
    >

        <div
            x-data="{sharedEvents: null}"
            x-init="sharedEvents = await fetchSharedEvent()"
            x-show="sharedEvents !== null && sharedEvents.length > 0"
            class="col-span-12"
        >
            <h1>
                {{ T "events-shared-section-headline" }}
            </h1>
            <template x-for="event in sharedEvents">
                <div >
                    {{ partial "events/dance-event.html" . }}
                </div>
            </template>
        </div>


    <div class="col-span-8">
        <div
            x-show="list.isLoading" x-transition
            class=" h-64 min-h-screen flex flex-col items-center border-gray-300 border-dashed border-4 rounded-sm pt-12"
        >
            <div class="is-sticky-on-side animate-pulse">
                <div class="mb-5 inline-block px-4 py-2 text-gray-50 font-bold bg-gray-600 rounded-lg">Wird geladen</div>
                <div class="flex items-center justify-center space-x-2 is-tripple-dots">
                    <div class="w-4 h-4 bg-gray-600 rounded-full is-dot"></div>
                    <div class="w-4 h-4 bg-gray-600 rounded-full is-dot"></div>
                    <div class="w-4 h-4 bg-gray-600 rounded-full is-dot"></div>
                </div>
            </div>
        </div>

        <div
            x-transition x-show="!list.isLoading"
            class="col-span-8"
        >
            <template x-if="list.dates.length === 0">
                <div class="is-card">
                    <h3>
                        Sorry!
                    </h3>
                    <span>
                        Leider haben wir für diese Suche nichts gefunden
                    </span>
                </div>
            </template>

            <template x-for="date in list.dates">
                {{ partial "events/list.html" . }}
            </template>
            <template x-if="list.initialized">
                <template x-if="list.showLoader">
                    <div
                        x-intersect:enter="list.loadMore()"
                        class=""
                    >
                        <div class="flex items-center justify-center space-x-2 animate-bounce">
                            <div class="w-4 h-4 bg-red-400 rounded-full"></div>
                            <div class="w-4 h-4 bg-red-400 rounded-full"></div>
                            <div class="w-4 h-4 bg-red-400 rounded-full"></div>
                        </div>
                    </div>
                </template>
                <template x-if="!list.showLoader">
                    <div>
                        Mehr hamma nich!
                    </div>
                </template>
            </template>
        </div>
    </div>
    {{ partial "events/filter-bar.html" . }}
    </div>

{{ end }}