<div
    id="mobile-nav-trigger"
    :class="$store.mobileNavigationStore.open ? 'bg-red-700' : 'bg-gray-900'"
    x-data=""
>
    <div
        @click.prevent="$store.mobileNavigationStore.toggle()"
    >
        <template x-if="!$store.mobileNavigationStore.open">
            {{ partial "heroicons/outline/menu.svg" }}
        </template>
        <template x-if="$store.mobileNavigationStore.open">
            {{ partial "heroicons/outline/x.svg" }}
        </template>
    </div>
</div>

<div
    id="mobile-nav-overlay"
    class="bg-gray-700/60"
    x-cloak
    x-data=""
    x-show="$store.mobileNavigationStore.open"
    x-transition:enter="transition ease-out duration-150"
    x-transition:enter-start="opacity-0"
    x-transition:enter-end="opacity-100 scale-100"
    x-transition:leave="transition ease-in duration-150 delay-150"
    x-transition:leave-start="opacity-100"
    x-transition:leave-end="opacity-0"
>
    <nav
        class="main-page-nav"
        x-show="$store.mobileNavigationStore.open"
        x-transition:enter="transition ease-out duration-300 delay-150"
        x-transition:enter-start="opacity-0 scale-80"
        x-transition:enter-end="opacity-100 scale-100"
        x-transition:leave="transition ease-in duration-150"
        x-transition:leave-start="opacity-100 scale-100"
        x-transition:leave-end="opacity-0 scale-80"
    >
        {{ partial "nav/main-navigation-content.html" . }}
    </nav>
</div>