<nav x-data="" id="mobile-header-nav">
    <template x-if="$store.mobileNavigationStore.open" x-transition>
        <div class="flex flex-col text-xl leading-8 pb-4">
            <template x-for="link in $store.mobileNavigationStore.links">
                <a :href="link.href" class>
                    {{ partial "heroicons/outline/hashtag.svg" "is-icon is-1em text-red-500" }}
                    <span x-text="link.copy"></span>
                </a>
            </template>
        </div>
    </template>
</nav>