<div
    id="mobile-nav-trigger"
    :class="$store.mobileNavigationStore.open ? 'bg-red-700' : 'bg-gray-900'"
    x-data=""
>
    <a
        class="flex flex-row gap-2"
        href="#"
        @click.prevent="$store.mobileNavigationStore.toggle()"
    >
        <div>
            <template x-if="!$store.mobileNavigationStore.open">
                {{ partial "heroicons/outline/menu.svg" "h-8" }}
            </template>
            <template x-if="$store.mobileNavigationStore.open">
                {{ partial "heroicons/outline/x.svg" "h-8" }}
            </template>
        </div>
        <div class="hidden">
            <span
                class="uppercase text-2xl font-light"
                x-text="!$store.mobileNavigationStore.open ? 'Navigieren' : 'Schließen'"
            >
            </span>
        </div>
    </a>
</div>