<nav id="page-nav" class="hidden lg:flex flex-col gap-4 uppercase mt-4 col-span-3">
    <a class="hover:text-red-600 underline"
        href="{{ .Site.BaseURL | relLangURL }}">
        <span class="text-red-600">
            {{ partial "heroicons/outline/home.svg" "h-5 w-5 inline-block -mr-1 relative -top-0.5"}}
        </span>
        Home
    </a>
    {{ $currentPage := . }}
    {{ range .Site.Menus.main }}
    <a
        class="hover:text-red-600 underline
            sidebar-nav-item {{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} active{{end}}
        "
        href="{{ .URL }}" title="{{ .Title }}">
        <span class="text-red-600">
            {{ partial "heroicons/solid/hashtag.svg" "h-5 w-5 inline-block -mr-1 relative -top-0.5"}}
        </span>
        {{ .Name }}
    </a>
    {{ end }}
</nav>