{{ $i := newScratch }}
{{ $i.Set "class" "" }}
{{ $i.Set "icon" "heroicons/outline/hashtag.svg" }}

{{if or (.currentPage.IsMenuCurrent .menu .menuEntry ) (.currentPage.HasMenuCurrent .menu .menuEntry) }}
    {{ $i.Set "class" "active" }}
{{ end }}

<li class='{{ $i.Get "class"}}'>
    <span>
        {{ partial "heroicons/outline/hashtag.svg" }}
    </span>
    <a class="in-mobile-nav" href="{{ .menuEntry.URL }}" title="{{ .menuEntry.Title }}">
        {{ .menuEntry.Name }}
    </a>
    <span>
        {{ partial "heroicons/outline/chevron-right.svg" }}
    </span>
</li>
