<head>
  <title>{{ .Page.Title }} | {{ .Site.Title }}</title>
  {{ if .Page.Params.meta_title }}
    <meta property="og:title" content="{{ .Page.Params.meta_title }}" />
  {{ else }}
    <!-- prettier-ignore -->
    <meta property="og:title" content="{{ .Page.Title }}{{ if ne .Title .Site.Title }} | {{ .Site.Title }}{{ end }}" />
  {{ end }}
  {{ with .Keywords }}
    <meta name="keywords" content="{{ range $i, $e := . }}{{ if $i }},{{ end }}{{ $e }}{{ end }}" />
  {{ end }}
  {{ $robots :="index,follow" }}
  {{ if .Page.Params.robots }}
    {{ $robots = .Page.Params.robots }}
  {{ end }}
  <meta property="og:image" content="https://rmswing.de/img/preview_fb_v1.png" />
  <meta name="robots" content="{{ $robots }}" />
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  {{ $styles := resources.Get "css/main.css" }}
  {{ if .Site.IsServer }}
    <link rel="stylesheet" href="{{ $styles.RelPermalink }}" />
  {{ else }}
    {{ $styles := $styles | minify | fingerprint | resources.PostProcess }}
    <link rel="stylesheet" href="{{ $styles.RelPermalink }}" integrity="{{ $styles.Data.Integrity }}" />
  {{ end }}
  {{ partial "header/matomo.html" }}
  {{ partial "header/posthog.html" }}

  <link rel="icon" type="image/x-icon" href="/img/favicon.ico" sizes="any" />
  <link rel="icon" type="image/svg+xml" href="/img/favicon.svg" />
</head>
