<head>
    <title>{{ .Page.Title}} | {{ .Site.Title}}</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;300;400;700&display=swap" rel="stylesheet">

    {{ $styles := resources.Get "css/main.css"}}
    {{ if .Site.IsServer }}
        <link rel="stylesheet" href="{{ $styles.RelPermalink }}"/>
    {{ else }}
        {{ $styles := $styles | minify | fingerprint | resources.PostProcess }}
        <link rel="stylesheet" href="{{ $styles.RelPermalink }}" integrity="{{ $styles.Data.Integrity }}"/>
    {{ end }}
    <!-- <script defer src="https://unpkg.com/alpinejs@3.9.0/dist/cdn.min.js"></script> -->

    {{ $typescript := resources.Get "scripts/main.ts" | babel | js.Build }}
    {{ $alpine := resources.Get "scripts/alpine.js" | babel | js.Build  }}
    {{ $bundle := slice $typescript $alpine | resources.Concat "scripts/bundle.js" }}
    {{ $minified := $bundle }}

    {{ if .Site.IsServer }}
        {{ $minified :=  $bundle | resources.Minify }}
    {{ end }}

    {{ $secureJS := $minified | resources.Fingerprint "sha512" }}

    <script type="text/javascript" src="{{ $secureJS.Permalink }}" integrity="{{ $secureJS.Data.Integrity }}" defer></script>

    {{ partial "data/translations.html" . }}
    {{ partial "data/settings.html" . }}
</head>