.is-card {
    @apply border border-gray-200 shadow;
    @apply bg-white;
    @apply p-4 overflow-hidden relative;
    & .is-teaser-icon {
        @apply top-2 right-2 w-14 h-14 absolute;
        @apply text-gray-200;
    }
}