.is-icon,
.icon {
    @apply relative inline-block;
    &.is-sm {
        @apply h-4 w-4;
    }
    &.is-base {
        @apply h-5 w-5 -top-0.5;
    }
    &.is-1em {
        height: 1em;
    }
    &.is-1\.5em {
        height: 1.5em;
    }
    &.is-2em {
        height: 2em;
    }
}