#learn-section {
    & .learn-item {
        @apply flex flex-col;
        &.has-address {
            & .contact {
                @apply grid-cols-2;
            }
        }
        &.has-no-address {
        }
    }
    & .contact {
        /* @apply place-self-end; */
    }
    & > .alpine-component > .container.items {
        @apply mx-auto max-w-screen-lg;
        @apply gap-6 flex flex-col;
        @apply lg:grid lg:grid-cols-2;
    }
}
