<span class="is-badge with-dark-bg text-sm max-w-lg" x-data="{ revealed: false, x1: '{{ trim (.Inner | base64Encode) "=" }}', x2: '' }">
    <button class="reveal-btn" x-show="!revealed" @click="revealed = true; x2 = atob(x1);">
        {{ partial "heroicons/solid/cursor-click.svg" "is-icon is-1em" }}
        {{ T "reveal-address" }}
    </button>
    <span x-show="revealed" x-transition>
        {{ partial "heroicons/solid/globe-alt.svg" "is-icon is-1em" }}
        <a :href="'mailto:' + x2" x-text="x2" class="text-white truncate w-60 inline-block" target="_blank"></a>
    </span>
</span>